/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a#logo {
  padding: 0;
}

#logo img {
  width: 160px;
}

.navbar-inner > .container {
  padding: 0 30px;
}

.nav.pull-right {
  padding: 14px 20px;
}

.nav.pull-right li {
  margin: auto;
}

.nav.pull-left li {
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 50px;
  color: #fff;
}

.navbar .nav > li > a.spacer {
  padding-left: 30px ;
  padding-right: 30px ;
}

#hero {
  padding: 0;
}

